.d0_0 {
    background-image: url('../images/0_0.png');
}

.d1_1{
background-image: url('../images/1_1.png');
}

.d2_2{
background-image: url('../images/2_2.png');
}

.d3_3{
background-image: url('../images/3_3.png');
}

.d4_4{
background-image: url('../images/4_4.png');
}

.d5_5{
background-image: url('../images/5_5.png');
}

.d6_6{
background-image: url('../images/6_6.png');
}

.d7_7{
background-image: url('../images/7_7.png');
}

.d8_8{
background-image: url('../images/8_8.png');
}



